<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="container">
    <div class="left-panel">
        <div class="underline"></div>
        <div class="title">Log in</div>
    </div>
    <div class="right-panel">
        <div class="form-container">
            <!-- Thêm form để gửi dữ liệu -->
            <form action="/login" method="POST">
                {% if login_error %}
                <div class="alert alert-danger" role="alert">
                    {{ login_error }}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" id="email" name="username" placeholder="Email address" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="login-button">Log In</button>
            </form>
            <div class="support">
                Trường hợp quên mật khẩu vui lòng liên hệ Admin <br>
                qua mail: 2251052053khoa@ou.edu.vn để được hỗ trợ
            </div>
        </div>
    </div>
</div>
</body>
</html>
