{% extends 'layout/base.html'%}

{% block content %}
<div id="class-list-container">
    <h2 class="mt-2 text-center text-danger">DANH SÁCH LỚP</h2>
    <form id="class-list-form">
<!--        <div class="form-group">-->
<!--            <label for="school-year">Năm học:</label>-->
<!--            <select id="school-year" class="form-select">-->
<!--                {% for year in filters[0].data %}-->
<!--                <option value="{{ year }}">{{ year }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="classroom">Lớp:</label>-->
<!--            <select id="classroom" class="form-select">-->
<!--                {% for classroom in filters[1].data %}-->
<!--                <option value="{{ classroom }}">{{ classroom }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->
        <div class="form-group mt-3 mb-3">
            <label for="total-students">Sĩ số:</label>
            <input id="total-students" type="text" disabled>
        </div>
        <!--        <div class="form-group mt-3 mb-3">-->
        <!--            <label for="total-students">Sĩ số:</label>-->
        <!--            <input id="total-students" type="text" disabled>-->
        <!--        </div>-->
<!--        <button id="fetch-students-btn" type="button" class="btn btn-outline-danger m-3 sidebar-btn">Select</button>-->
        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="students-table-body"></tbody>
        </table>
    </form>
</div>
<script src="static/script/script.js"></script>
{% endblock %}