<footer>
    <div class="p-5 text-white border-top border-1 border-white" style="background-color: #0e2238">
        <div id="lienhe">
        <div class="site-logo text-center py-4">
            <a href="/" style="text-decoration: none;">Student Management System</a>
        </div>
        <div class="social text-center">
            <h5 class="text-uppercase">CONTACT US</h5>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
        </div>
        <div class="copyrights text-center">
            <p class="para">
                Copyright ©2024 All rights reserved
                <i class="fa fa-heart"></i>
            </p>
        </div>
    </div>
    <p></p>
</div>
</footer>