<nav class="navbar navbar-expand-sm navbar-dark border-bottom border-1 border-white p-0" style="background-color: #0e2238">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img width="50px" style="filter: invert(1);"  src="https://res.cloudinary.com/dqw4mc8dg/image/upload/v1735099489/pngegg_rhd2yg.png" alt="Dash Board">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% if current_user.role == Role.TEACHER %}
                <li class="nav-item">
                    <a class="nav-link nav-item " id="nav-score" href="\transcripts">Transcript</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-success" href={{current_user.avatar}}>
                        Hi {{ current_user.username }}!
                        <img src="{{ current_user.avatar }}" width="30" class="rounded-circle" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-warning" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
