<nav class="navbar navbar-expand-sm navbar-dark border-bottom border-1 border-white" style="background-color: #0e2238">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% if current_user.role == Role.TEACHER %}
                <li class="nav-item">
                    <a class="nav-link nav-item " id="nav_students-marks"
                       href="\score"
                       style="text-transform: uppercase; font-size: 15px;padding: 15px 0; margin-right: 10px">Score Input</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-warning text-end" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>