.table-responsive {
    overflow-y: auto;
}
.table th, .table td {
    text-align: center;
    vertical-align: middle;
    white-space: normal
}
.table input {
    width: 50px; /* Điều chỉnh nếu cần */
    text-align: center;
    margin: 0 auto;
}